<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.saiha.saihaWeb.mapper.LoginMapper">
    <select id="memberLogin" parameterType="String" resultType="com.saiha.saihaWeb.dto.LoginDTO">
        SELECT
            ID, NAME, PWD, BIRTH_YMD, JOIN_YMD
            , POSITIN_YMD, EMAIL, DEPT_CODE, TEAM_CODE,POSITION_CODE
            , ONE_DUTY_CODE, NUM_TEL, HP_TEL, ADDRESS, GRADE_CODE, NVL(PRJ_MANAGE_YN,'N') AS PRJ_MANAGE_YN
        FROM
            (SELECT
                A.ID, A.NAME, A.PWD, A.BIRTH_YMD, A.JOIN_YMD
                , A.POSITIN_YMD, A.EMAIL, A.DEPT_CODE, A.TEAM_CODE, A.POSITION_CODE
                , A.ONE_DUTY_CODE, A.NUM_TEL, A.HP_TEL, A.ADDRESS, A.GRADE_CODE, A.PRJ_MANAGE_YN
            FROM USE A, INFORMATION B
            WHERE A.ID = B.ID
            AND B.LEAVE_YMD IS NULL
            UNION ALL
            SELECT
                A.ID, A.NAME, A.PWD, A.BIRTH_YMD, A.JOIN_YMD
                , A.POSITIN_YMD, A.EMAIL, A.DEPT_CODE, A.TEAM_CODE, A.POSITION_CODE
                , A.ONE_DUTY_CODE, A.NUM_TEL, A.HP_TEL, A.ADDRESS, A.GRADE_CODE, ''
            FROM EXT_USE A, EXT_MANAGE B
            WHERE A.ID = B.ID
            AND B.DEL_YN = 'N')
        WHERE ID = #{id}
    </select>
    <insert id="countReset">
        MERGE INTO LOGIN_CHECK
        USING DUAL ON (ID = ?)
        WHEN MATCHED THEN
        UPDATE SET LOGIN_COUNT = ? , LOGIN_LOCK = ? , IP = ?, CHNGDATE = SYSDATE
        WHEN NOT MATCHED THEN
        INSERT ( ID, LOGIN_COUNT, LOGIN_LOCK, IP, REGDATE , CHNGDATE ) VALUES ( ?, ?, ?, ?, SYSDATE, SYSDATE)
    </insert>
</mapper>
