<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.saiha.saihaWeb.mapper.ManagementMapper">
    <select id="select_contents_data" resultType="map" parameterType="String">
        <![CDATA[
             SELECT  /* Insa_Base.java.getBaseData2(String) */
                     T1.JUMIN_NO, T1.ID, T1.KOR_NAME, T1.CHI_NAME, T1.ENG_NAME
                   , T1.JOIN_YMD, T1.LEAVE_YMD
                   , T1.ZIPCODE, T1.ADDRESS, T1.FAMILY_REGISTER_ZIPCODE
                   , T1.FAMILY_REGISTER_ADDRESS, T1.JUMIN_ZIPCODE, T1.JUMIN_ADDRESS, T1.POSITION_YMD, T1.DEPT_CODE
                   , T1.TEAM_CODE, T1.POSITION_CODE, T1.ONE_DUTY_CODE, T1.EMAIL, T1.NUM_TEL
                   , T1.HP_TEL, T1.PASSPORT_NO, T1.CONTRACT_WORK_YN, T1.EMPLOYMENT_CODE, T1.BIRTH_YMD
                   , T1.SOLAR_CALENDAR_YN, T2.PWD, T2.GRADE_CODE, T2.CONTROL_YN
                   , SubStr(T1.JUMIN_NO,1,6) SID1, SubStr(T1.JUMIN_NO,7,7) SID2
                   , T3.SAVE_FILE_NM, T3.FILE_NM, T3.SAVE_PATH, T3.FILE_SIZE
             FROM    ( SELECT JUMIN_NO, SAVE_FILE_NM, FILE_NM, SAVE_PATH, FILE_SIZE FROM informationfile WHERE GUBUN = 'INSA') T3
                     , use T2, information T1
             WHERE T1.ID = T2.ID
             AND T1.JUMIN_NO = T3.JUMIN_NO(+)
             AND T1.ID = #{UserID}
        ]]>
    </select>


    <select id="insaCount" resultType="int" parameterType="map">
        SELECT count(*) count
            FROM ( SELECT ID,
            NAME,
            JUMIN_NO,
            SOSOK,
            POSITION,
            TEAM_NM,
            ROWNUM N
            FROM ( SELECT T1.ID,
            T1.KOR_NAME NAME,
            T1.JUMIN_NO,
            T1.LEAVE_YMD,
            B.CODE_NM SOSOK,
            C.CODE_NM POSITION,
            D.CODE_NM TEAM_NM
                FROM ( SELECT CODE, CODE_NM FROM COMMON WHERE CODE_GUBUN ='PT1') B,
                ( SELECT CODE, CODE_NM FROM COMMON WHERE CODE_GUBUN ='GD1') C,
                ( SELECT CODE, CODE_NM FROM COMMON WHERE CODE_GUBUN ='TE1') D,
                USE T2,
                INFORMATION T1
                    WHERE T1.DEPT_CODE = B.CODE(+)
                    AND T1.ONE_DUTY_CODE = C.CODE(+)
                    AND T1.TEAM_CODE = D.CODE(+)
                    AND T2.ID = T1.ID

                    <if test="UserID != null and UserID == '1000'" >
                        AND T1.ID = #{UserID}
                    </if>

                    <if test="searchSelect0 == null or (searchSelect0 != null and searchSelect0 == 'work')">
                        AND T1.LEAVE_YMD is NULL
                    </if>

                    <if test="searchSelect0 != null and searchSelect0 == 'fire'">
                        AND T1.LEAVE_YMD is NOT NULL
                    </if>

                    <if test="searchTxt1 != null and searchTxt1 != ''">
                        <choose>
                            <when test="searchSelect1 == 'name'">
                                AND T1.KOR_NAME like '%'||#{searchTxt1}||'%'
                            </when>
                            <when test="searchSelect1 == 'sabun'">
                                AND T1.ID like '%'||#{searchTxt1}||'%'
                            </when>
                            <when test="searchSelect1 == 'jubun'">
                                AND T1.JUMIN_NO like '%'||#{searchTxt1}||'%'
                            </when>
                        </choose>
                    </if>

                    <if test="searchTxt2 != null and searchTxt2 != ''">
                        <choose>
                            <when test="searchSelect2 == 'part'">
                                AND B.CODE_NM like '%'||#{searchTxt2}||'%'
                            </when>
                            <when test="searchSelect2 == 'posi'">
                                AND C.CODE_NM like '%'||#{searchTxt2}||'%'
                            </when>
                            <when test="searchSelect2 == 'team'">
                                AND D.CODE_NM like '%'||#{searchTxt2}||'%'
                            </when>
                        </choose>
                    </if>
                ORDER BY NAME asc, ID asc
                 )
            )




    </select>

    <select id="selectInsa" resultType="ManagementDTO" parameterType="map">
        SELECT
            ID,
            NAME,
            JUMIN_NO,
            SubStr(JUMIN_NO2,1,6)||'-'||'*******' JUMIN_NO2,
            SOSOK,
            POSITION,
            TEAM_NM,
            N BRD_NO
                FROM ( SELECT ID,
                NAME,
                JUMIN_NO,
                SOSOK,
                POSITION,
                TEAM_NM,
                ROWNUM N,
                JUMIN_NO2
                    FROM ( SELECT T1.ID,
                    T1.KOR_NAME NAME,
                    T1.JUMIN_NO,
                    T1.LEAVE_YMD,
                    B.CODE_NM SOSOK,
                    C.CODE_NM POSITION,
                    D.CODE_NM TEAM_NM,
                    NVL(T1.JUMIN_NO2,REPLACE(SUBSTR(T1.BIRTH_YMD,3),'-','')) JUMIN_NO2
                        FROM ( SELECT CODE, CODE_NM FROM COMMON WHERE CODE_GUBUN ='PT1') B,
                        ( SELECT CODE, CODE_NM FROM COMMON WHERE CODE_GUBUN ='GD1') C,
                        ( SELECT CODE, CODE_NM FROM COMMON WHERE CODE_GUBUN ='TE1') D,
                        USE T2, INFORMATION T1
                            WHERE T1.DEPT_CODE = B.CODE(+)
                            AND T1.ONE_DUTY_CODE = C.CODE(+)
                            AND T1.TEAM_CODE = D.CODE(+)
                            AND T2.ID = T1.ID

                            <if test="UserID != null and UserID == '1000'" >
                                AND T1.ID = #{UserID}
                            </if>

                            <if test="searchSelect0 == null or (searchSelect0 != null and searchSelect0 == 'work')">
                                AND T1.LEAVE_YMD is NULL
                            </if>

                            <if test="searchSelect0 != null and searchSelect0 == 'fire'">
                                AND T1.LEAVE_YMD is NOT NULL
                            </if>

                            <if test="searchTxt1 != null and searchTxt1 != ''">
                                <choose>
                                    <when test="searchSelect1 == 'name'">
                                        AND T1.KOR_NAME like '%'||#{searchTxt1}||'%'
                                    </when>
                                    <when test="searchSelect1 == 'sabun'">
                                        AND T1.ID like '%'||#{searchTxt1}||'%'
                                    </when>
                                    <when test="searchSelect1 == 'jubun'">
                                        AND T1.JUMIN_NO like '%'||#{searchTxt1}||'%'
                                    </when>
                                </choose>
                            </if>

                            <if test="searchTxt2 != null and searchTxt2 != ''">
                                <choose>
                                    <when test="searchSelect2 == 'part'">
                                        AND B.CODE_NM like '%'||#{searchTxt2}||'%'
                                    </when>
                                    <when test="searchSelect2 == 'posi'">
                                        AND C.CODE_NM like '%'||#{searchTxt2}||'%'
                                    </when>
                                    <when test="searchSelect2 == 'team'">
                                        AND D.CODE_NM like '%'||#{searchTxt2}||'%'
                                    </when>
                                </choose>
                            </if>
                        ORDER BY NAME asc, ID asc
                    )
                )
        WHERE N BETWEEN ((#{page} - 1) *  (#{pagemax}) +1) and #{page} * #{pagemax}
    </select>
</mapper>